::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background: #F98169;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgba($color: #eeeeee, $alpha: 0.5);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    width: 100%;
}

.register {
    //border: 1px solid red;
    background: url('../img/bg.png') no-repeat left;
    background-color: rgb(242, 244, 250);
    background-position-x: 50px;
    background-size: 400px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 3px rgba(213, 221, 248, 0.5);
    height: 550px;
    margin: 60px auto;
    width: 75%;
    display: grid;
    justify-content: end;
}

.register__form__section {
    //border: 1px solid red;
    padding: 40px 15px 15px 15px;
    width: 450px;
    //margin-left: 150px;
}


.register__logo {
    width: 120px;
}

.register__header {

    margin-bottom: 15px;
    
    &--title {
        margin-bottom: 7px;
    }

    &--desc {
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 5px;
        word-break: normal;
    }
}

.register__form input {
    border: none;
    border-bottom: 0.5px solid rgb(212, 212, 212);
    display: block;
    height: 55px;
    padding: 15px 10px 15px 65px;
    width: 95%;
}


.register__form input:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.register__form input:last-of-type {
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.register__form--email {
    background: url('../img/email.png') no-repeat left;
    background-color: white;
    background-position-x: 20px;
    background-size: 18px;
}

.register__form--password {
    background: url('../img/lock.png') no-repeat left;
    background-color: white;
    background-position-x: 20px;
    background-size: 18px;
}

.register__form__button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 12px;
    outline: none;
    padding: 10px 28px;
}

.button--register {
    background: rgb(35, 35, 204);
    border: 1px solid rgb(35, 35, 204);
    color: white;
    text-transform: capitalize;
}

.button--login {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 1px 2px 3px rgba(230, 229, 229, 0.5);
    text-transform: capitalize;
}


.register__socials {
   
    &--icons {
        display: flex;
    }

    &--icon {
        cursor: pointer;
        height: auto;
        margin-right: 12px;
        margin-top: 20px;
        width: 30px;
    }
}



// Home Navigation Styles


.home-header {
    background: url('../img/home-bg.jpg');
    background-size: cover;
    height: 640px;
    padding: 20px 120px 0 120px;
    width: 100%;
}


.home__navigation {
    display: grid;
    grid-template-columns: 300px 600px 300px;
    //padding: 20px 120px 0 120px;
}

.home--logo {
    height: auto;
    margin-top: 10px;
    width: 100px;
}

.home__navigation__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 22px;
}

.home__navigation__menu a{
    color: #ABADAE;
}

.home__navigation__action {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.home__navigation__menu li, .home__navigation__action li {
    display: inline-block;
    margin-right: 10px;
}

.home__navigation__menu li a, .home__navigation__action li a {
    text-decoration: none;
    padding: 0 10px;
}

.home__action--signup {
    background: #F98169;
    border: 1px solid #F98169;
    border-radius: 4px;
    box-shadow: 1px 2px 3px #F98169;
    display: inline-block;
    padding: 10px 12px;
}

.home__action--signup a {
    color: rgb(255, 255, 255);
    font-weight: 550;
    text-transform: uppercase;
}

.home__action--login {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgb(206, 205, 205);
    display: inline-block;
    padding: 10px 12px;
}

.home__action--login a {
    color: #F98169;
    font-weight: 550;
    text-transform: uppercase;
}


.home__header__title {
    //border: 1px solid red;
    margin-top: 120px;
    //padding: 70px;
    width: 600px;
}

.home--title {
    color: #255A7E;
    font-size: 39px;
    font-weight: 450;
    padding-right: 180px;
}

.home__title--desc {
    color: #0C3653;
    line-height: 1.8;
}

.home__title__action {
    margin-top: 50px;
}

.home--order {
    background: #F98169;
    box-shadow: -1px 1px 3px #F98169;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 40px;
    padding: 12px 20px;
    text-decoration: none;
}

.home--story {
    color: #0B314B;
    margin-right: 40px;
    text-decoration: none;
}

.home--play {
    background: #F98169;
    border-radius: 50%;
    box-shadow: 1px 2px 3px #F98169;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 50px;
    //margin-bottom: 10px;
    padding: 13px 10px;
    text-decoration: none;
    width: 50px;
}


.home__about {
    background: url('../img/home-about-bg.png');
    background-size: cover;
    margin: 0 auto 70px auto;
    width: 85%;
}

.home__about__one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home__about__title {
    margin-top: 120px;
    width: 550px;
}

.home__about--title {
    color: #0C3653;
    font-size: 30px;
    padding-right: 120px;
}

.home__about--desc {
    color: #8B8E8F;
    font-size: 15px;
    line-height: 1.8;
    padding-right: 70px;
}

.home__about--more {
    background: #F98169;
    box-shadow: 1px 1px 3px #F98169;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 20px;
    padding: 12px 18px;
    text-decoration: none;
}


.home__about__two__img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 80px;
}

.home__about__two__img--one{
    align-self: center;
    justify-self: end;
    height: 100px;
    width: 200px;
}

.home__about__two__img--one img {
    height: auto;
    width: 100%;
}

.home__about__two__img--four {
    align-self: start;
    justify-self: start;
    height: 300px;
    width: 200px;
}

.home__about__two__img--four img {
    height: auto;
    width: 100%;
}

.home__banner {
    background: url('../img/style3.jpg');
    background-size: cover;
    border-radius: 5px;
    height: 350px;
    margin: 90px auto 0 auto;
    width: 85%;
}

.home__banner__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 20px 90px;
    text-align: center;
    //justify-content: center;
    //justify-items: center;
}

.home__banner--title {
    font-size: 30px;
    //font-weight: bold;
    margin-bottom: 5px;
}

.home__banner--desc {
    font-size: 14px;
    line-height: 1.6;
    padding: 0 80px;
}

.explore {
    margin: 120px auto 50px auto;
    width: 80%;
}

.explore__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    column-gap: 16px;
    row-gap: 30px;
}

.explore__card {
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgb(216, 214, 214);
    border-radius: 14px;
}

.explore__card__body {
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgb(216, 214, 214);
    height: 400px;
}

.explore__header {
    //border: 1px solid red;
    text-align: center;
    margin-bottom: 25px;
}


.explore__header--title {
    color: #0C3653;
    font-size: 36px;
    margin-bottom: 5px;
}

.explore__header--desc {
    color: #AEB2B4;
    padding: 0 200px;
    margin-bottom: 0;
}

.explore__card--food {
    color: #0C3653;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    padding: 0 14px;
}

.explore__card--price {
    color: #F98169;
    margin-left: 120px;
}

.explore__card--desc {
    padding: 0 14px 5px 14px;
}

.explore__action {
    margin-top: 40px;
    text-align: center;
}

.explore--btn {
    background: #F98169;
    box-shadow: 0 8px 25px #F98169;
    color: rgb(255, 255, 255);
    display: inline-block;
    justify-self: center;
    padding: 12px 20px;
    text-decoration: none;
    text-align: center;
}

.subscribe {
    background: url('../img/subscribe-footer-bg.png'), url('../img/subscribe-footer-bg.png');
    background-repeat: no-repeat no-repeat;
    background-position: top left, bottom right;
    background-size: 250px;
    height: 450px;
    margin: 90px auto 190px auto;
    padding-top: 70px;
    width: 95%;
}

.subscribe__container {
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 17px 16px rgba(235, 241, 245, 0.5);
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    margin: 0 auto;
    //margin-top: 90px;
    //padding: 20px 10px;
    width: 72%;
}

.subscribe--title {
    color: #0C3653;
    font-size: 25px;
    font-weight: bold;
}

.explore--form {
    display: flex;
}

.subscribe--input {
    background: #F9FBFB;
    border: 1px solid #F9FBFB;
    border-right: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    outline: none;
    padding: 18px 15px;
    width: 300px;
}

.subscribe--submit {
    background: #F98169;
    border: 1px solid #F98169;
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    padding: 18px 20px;
    text-align: left;
    width: 150px;
}