::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F98169;
}

::-webkit-scrollbar-thumb {
  background: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(238, 238, 238, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}

.register {
  background: url("../img/step.png") no-repeat left;
  background-color: #f2f4fa;
  background-position-x: 50px;
  background-size: 400px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 3px rgba(213, 221, 248, 0.5);
          box-shadow: 0 1px 2px 3px rgba(213, 221, 248, 0.5);
  height: 550px;
  margin: 60px auto;
  width: 75%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.register__form__section {
  padding: 40px 15px 15px 15px;
  width: 450px;
}

.register__logo {
  width: 120px;
}

.register__header {
  margin-bottom: 15px;
}

.register__header--title {
  margin-bottom: 7px;
}

.register__header--desc {
  font-size: 0.8rem;
  line-height: 1.4;
  margin-top: 5px;
  word-break: normal;
}

.register__form input {
  border: none;
  border-bottom: 0.5px solid #d4d4d4;
  display: block;
  height: 55px;
  padding: 15px 10px 15px 65px;
  width: 95%;
}

.register__form input:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.register__form input:last-of-type {
  border: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.register__form--email {
  background: url("../img/email.png") no-repeat left;
  background-color: white;
  background-position-x: 20px;
  background-size: 18px;
}

.register__form--password {
  background: url("../img/lock.png") no-repeat left;
  background-color: white;
  background-position-x: 20px;
  background-size: 18px;
}

.register__form__button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 12px;
  outline: none;
  padding: 10px 28px;
}

.button--register {
  background: #2323cc;
  border: 1px solid #2323cc;
  color: white;
  text-transform: capitalize;
}

.button--login {
  background: white;
  border: 1px solid white;
  -webkit-box-shadow: 0 1px 2px 3px rgba(230, 229, 229, 0.5);
          box-shadow: 0 1px 2px 3px rgba(230, 229, 229, 0.5);
  text-transform: capitalize;
}

.register__socials--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register__socials--icon {
  cursor: pointer;
  height: auto;
  margin-right: 12px;
  margin-top: 20px;
  width: 30px;
}

.home-header {
  background: url("../img/home-bg.jpg");
  background-size: cover;
  height: 640px;
  padding: 20px 120px 0 120px;
  width: 100%;
}

.home__navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 600px 300px;
      grid-template-columns: 300px 600px 300px;
}

.home--logo {
  height: auto;
  margin-top: 10px;
  width: 100px;
}

.home__navigation__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 22px;
}

.home__navigation__menu a {
  color: #ABADAE;
}

.home__navigation__action {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.home__navigation__menu li, .home__navigation__action li {
  display: inline-block;
  margin-right: 10px;
}

.home__navigation__menu li a, .home__navigation__action li a {
  text-decoration: none;
  padding: 0 10px;
}

.home__action--signup {
  background: #F98169;
  border: 1px solid #F98169;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px #F98169;
          box-shadow: 1px 2px 3px #F98169;
  display: inline-block;
  padding: 10px 12px;
}

.home__action--signup a {
  color: white;
  font-weight: 550;
  text-transform: uppercase;
}

.home__action--login {
  background: white;
  border: 1px solid white;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px #cecdcd;
          box-shadow: 1px 2px 3px #cecdcd;
  display: inline-block;
  padding: 10px 12px;
}

.home__action--login a {
  color: #F98169;
  font-weight: 550;
  text-transform: uppercase;
}

.home__header__title {
  margin-top: 120px;
  width: 600px;
}

.home--title {
  color: #255A7E;
  font-size: 39px;
  font-weight: 450;
  padding-right: 180px;
}

.home__title--desc {
  color: #0C3653;
  line-height: 1.8;
}

.home__title__action {
  margin-top: 50px;
}

.home--order {
  background: #F98169;
  -webkit-box-shadow: -1px 1px 3px #F98169;
          box-shadow: -1px 1px 3px #F98169;
  color: white;
  display: inline-block;
  margin-right: 40px;
  padding: 12px 20px;
  text-decoration: none;
}

.home--story {
  color: #0B314B;
  margin-right: 40px;
  text-decoration: none;
}

.home--play {
  background: #F98169;
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 3px #F98169;
          box-shadow: 1px 2px 3px #F98169;
  color: white;
  display: inline-block;
  height: 50px;
  padding: 13px 10px;
  text-decoration: none;
  width: 50px;
}
/*# sourceMappingURL=style.css.map */